{% extends 'base.html' %}
{% block title %}
Add Miscellaneous 
{% endblock %}


{% block content %}
<h3>Add Miscellaneous Inventory </h3>

 <div class="container">
    <form method="POST" action="/add_misc/">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="exampleFormControlInput1">RF Shield</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name= "rf_shield" placeholder="" >
        </div>
        {% comment %} <div class="form-group">
          <label for="exampleFormControlInput1">Attenuators</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name= "attenuator" placeholder="10db,5db" >
        </div> {% endcomment %}
        
          <button type="submit" class="btn btn-primary"> Submit </button>

      </form>
{% endblock %}